nohup.out
TAGS
test/ops/conv/full.txt
nets/dsp1
models
run/tr*
lib/boda
lib/boda_cfg.xml
obj/*.o
obj/*.d
obj/dependencies.make
obj/gen
obj/gen_objs
obj/make_make_ignore_missing_headers_in_d_files.make
obj/makefile
obj/prebuild.okay
obj/*.pb.cc
obj/*.pb.h
obj/LDFLAGS.txt
obj2
obj-px2b
obj-nortc
obj-disp
lib2
.emacs*
*.pyc
cmake-build-debug
.idea
.DS_Store
*~


