src/gen
nohup.out
TAGS
run/tr*
lib/boda
lib/boda_cfg.xml
obj/*.o
obj/*.d
obj/dependencies.make
obj/gen_objs
obj/make_make_ignore_missing_headers_in_d_files.make
obj/makefile
obj/prebuild.okay
.emacs*
*.pyc
*~


