nohup.out
TAGS
run/tr*
lib/boda
lib/boda_cfg.xml
obj/*.o
obj/*.d
obj/dependencies.make
obj/gen
obj/gen_objs
obj/make_make_ignore_missing_headers_in_d_files.make
obj/makefile
obj/prebuild.okay
obj/caffe.pb.cc
obj/caffe.pb.h
obj2
lib2
.emacs*
*.pyc
*~


