<!-- this is an *example* boda_cfg.xml file. see INSTALL.md for details.
     
     values with internal defaults are listed here commented-out
     with thier default values. to set them, uncomment them, move them
     inside the root element, and set them to the desired
     (non-default) value. note: they are placed outside the root
     element here only because XML does not allow comments inside
     elements.
-->

<!--  boda_dir= set internally to cannonical(readlink('/proc/self/exe')+'/../..') -->
<!--  boda_test_dir= set internally to: (boda_dir + '/test') -->
<!--  verbose="0" --> 
<!--  boda_output_dir="." -->

<root 
      models_dir="%(boda_dir)/nets"
      pascal_data_dir="%(boda_dir)/bench/VOCdevkit/VOC2007"

      alt_param_dir="%(boda_dir)/models" 
      caffe_dir="/home/moskewcz/git_work/caffe_dev"

      bench_dir="/home/moskewcz/bench"
      datasets_dir="/scratch/datasets"

      flickr_data_dir="/home/moskewcz/bench/VOCdevkit/VOCLOGO"
      dpm_fast_cascade_dir="/home/moskewcz/svn_work/dpm_fast_cascade"
      ffld_dir="/home/moskewcz/research/ffld"
/>
<!-- note: if a model parameters file at path (for example) "%(models_dir)/foo/best.caffemodel" is not found, boda will
     try to load "%(alt_param_dir)/foo/best.caffemodel instead (where foo is the model name) -->
